name: Image digest update

on:
  workflow_dispatch:
  schedule:
    # At the end of every day
    - cron: "0 0 * * *"

permissions: {}

jobs:
  image-update:
    if: ${{ github.repository_owner == 'chainguard-demo' }}

    name: Image digest update
    runs-on: ubuntu-latest

    permissions:
      contents: read # To clone the repo
      id-token: write # used to sign the commits using gitsign

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
      with:
        egress-policy: audit

    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - uses: octo-sts/action@d6c70ad3b9ac85df6da6b9749014d7283987cfec # v1.0.3
      id: octo-sts
      with:
        scope: ${{ github.repository }}
        identity: digestabot

    - uses: chainguard-dev/digestabot@4298e530896fb4164f9c89030c561b75b9321149 # v1.0.2
      with:
        token: ${{ steps.octo-sts.outputs.token }}
